body {
  margin: 0;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

/* Contenedor centrado */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SOBRE */
#envelope {
  width: 260px;
  height: 170px;
  position: relative;
  background: #d6c3a5;
  border: 3px solid #a38b64;
  border-radius: 6px;
  overflow: hidden;
}

#envelope .top {
  width: 100%;
  height: 50%;
  background: #c0a983;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

#envelope .bottom {
  width: 100%;
  height: 50%;
  background: #e8d5b3;
}

/* CORAZÓN */
.heart {
  position: absolute;
  font-size: 36px;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
}

/* BOTÓN */
button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  font-size: 18px;
  background: red;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
  background: #ff3030;
}

/* MENSAJE */
#mensaje {
  display: none;
  color: red;
  font-size: 28px;
  text-align: center;
  max-width: 600px;
  font-style: italic;

}
